<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <nav class="navbar navbar-inverse avbar-default">
            <% include partials/header.ejs %>
        </nav>
        <div class="container">
            <%- body %>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>
