#sortable2 {
    background: #eee;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.vote li > details {
    margin-top: -1em;
}

.vote li > span, .vote li > details, .vote li > details summary, .vote li > details p {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}