<ul class="list-group">
    <li class="list-group-item">ID: <%= user.id %></li>
    <li class="list-group-item">Username: <%= user.username %></li>
    <li class="list-group-item">Name: <%= user.displayName %></li>
    <% for(var mail in user.emails) { %>
    <li class="list-group-item">Email: <%= mail.value %></li>
    <% } %>
</ul>