<form class="form-horizontal" id="main">
<fieldset>

<!-- Form Name -->
<legend>Create Poll</legend>

<!-- Text input title-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pollName">Name</label>  
  <div class="col-md-5">
  <input id="pollName" name="pollName" placeholder="Name of your poll" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input option title-->
<div class="form-group">
  <label class="col-md-4 control-label" for="optionName">Option x Name</label>  
  <div class="col-md-4">
  <input id="optionName" name="optionName" placeholder="Name of the option" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="description" name="description"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="remove"></label> 
  <div class="col-md-4">
    <button class="btn btn-danger" id="remove" onclick="removeField()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-primary" onclick="addField()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<!-- Submit Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-default">Submit</button>
  </div>
</div>

</fieldset>
</form>
<script src="/createController.js"></script>