<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <nav class="navbar navbar-inverse avbar-default">
            <% include ../partials/header %>
        </nav>
        <div class="container">
            <%- body %>
        </div>
        <% include ../partials/footer %>
    </body>
</html>
