<h2>Your available polls</h2>
<div class="list-group">
    <% for(var i = 0; i<polls.length; i++){
        var poll = polls[i];
    %>
    <a href="/poll/vote/<%= poll.id %>" class="list-group-item">
        <h4 class="list-group-item-heading">
            <%= poll.name %>
            <% if(poll.access == 'password'){ %>
            <i class="glyphicon glyphicon-lock"></i>
            <% } %>
        </h4>
    </a>
    <% console.log(poll); %>
    <% } %>
</div>
