<div class="row">
    <div class="col-md-5"><h1>Your available polls </h1></div>
    <div class="col-md-2 col-md-offset-5"><a href="/poll/create" class="btn btn-primary">Create your own poll!</a></div>
</div>
<div class="list-group">
    <% for(var i = 0; i < polls.length; i++){
        var poll = polls[i];
    %>
    <a href="/poll/vote/<%= poll.id %>" class="list-group-item">
        <h4 class="list-group-item-heading">
            <%= poll.name %>
            <% if(poll.access == 'password'){ %>
            <i class="glyphicon glyphicon-lock"></i>
            <% } %>
        </h4>
        <%# @TODO add 'display result' button/link(?) %>
    </a>
    <% } %>
</div>
