<ul id="sortable1" class="connectedSortable list-group">
    <% for(i = 1; i < 6; i++){ %>
    <li class="ui-state-default list-group-item">
        <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> Item <%= i %>
    </li>
    <% } %>
</ul>

<ul id="sortable2" class="connectedSortable"></ul>

<input type="button" id="submitButton" value="Submit" class="btn btn-default"/>

<script src="voteController.js"></script>