<%# @TODO support multiple vote types %>
<div class="container">
    <div class="row vote">
        <div class="col-xs-6">
            <ul id="sortable1" class="connectedSortable list-group">
                <% for(var i = 0; i < poll.Options.length; i++){
                var option = poll.Options[i]; %>
                <div class="group">
                    <li class="ui-state-default list-group-item group">
                        <span class="glyphicon glyphicon-resize-vertical pull-right" aria-hidden="true"></span>
                        <details>
                            <summary><%= option.name %></summary>
                            <p><%= option.description %></p>
                        </details>

                    </li>
                </div>
                <% } %>
            </ul>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Place your vote here</div>
                <ul id="sortable2" class="connectedSortable list-group">
                </ul>
            </div>
            <input type="button" id="submitButton" value="Submit" class="btn btn-default"/>
        </div>
    </div>
</div>

<script src="/voteController.js"></script>